USE [master]
GO
/****** Object:  Database [LOZR]    Script Date: 10/10/2021 16:58:41 ******/
CREATE DATABASE [LOZR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LOZR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LOZR.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LOZR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LOZR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LOZR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LOZR]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/10/2021 16:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountUserID] [int] NULL,
	[AccountPasswordHash] [binary](64) NOT NULL,
 CONSTRAINT [PK__ACCOUNT__1788CC4C4019E4D1] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookMark]    Script Date: 10/10/2021 16:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookMark](
	[UserID] [int] NOT NULL,
	[ThreadID] [int] NOT NULL,
 CONSTRAINT [PK_BookMark] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ThreadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forum]    Script Date: 10/10/2021 16:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forum](
	[ForumID] [int] IDENTITY(1,1) NOT NULL,
	[ForumName] [nvarchar](max) NOT NULL,
	[ForumImage] [varchar](max) NULL,
	[ForumIsActive] [bit] NOT NULL,
 CONSTRAINT [PK__TOPIC__022E0F5D9699E009] PRIMARY KEY CLUSTERED 
(
	[ForumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 10/10/2021 16:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[PostSubject] [ntext] NULL,
	[PostUserID] [int] NOT NULL,
	[PostThreadID] [int] NOT NULL,
	[PostReplyTo] [int] NULL,
	[PostUpVote] [int] NULL,
	[PostDownVote] [int] NULL,
	[PostDateCreated] [datetime] NULL,
	[PostIsActive] [bit] NOT NULL,
 CONSTRAINT [PK__POST__AA1260180363DD2B] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 10/10/2021 16:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[ReportPostID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thread]    Script Date: 10/10/2021 16:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thread](
	[ThreadID] [int] IDENTITY(1,1) NOT NULL,
	[ThreadSubject] [nvarchar](max) NOT NULL,
	[ThreadStartedBy] [int] NOT NULL,
	[ThreadDateCreated] [datetime] NULL,
	[ThreadIsActive] [bit] NULL,
	[ThreadForumID] [int] NULL,
 CONSTRAINT [PK__THREAD__688356846DABA36B] PRIMARY KEY CLUSTERED 
(
	[ThreadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 10/10/2021 16:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserLoginName] [nvarchar](40) NULL,
	[UserFirstName] [nvarchar](40) NULL,
	[UserLastName] [nvarchar](40) NULL,
	[UserEmailAddress] [varchar](max) NULL,
	[UserImageAvatar] [varchar](max) NULL,
	[UserDateJoined] [datetime] NOT NULL,
	[UserIsActive] [bit] NULL,
	[UserIsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK__USERINFO__1788CC4C648F04ED] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__UserInfo__DED24C9A768CD44C] UNIQUE NONCLUSTERED 
(
	[UserLoginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Forum] ADD  CONSTRAINT [DF_Forum_ForumActive_1]  DEFAULT ((1)) FOR [ForumIsActive]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_PostUpVote]  DEFAULT ((0)) FOR [PostUpVote]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_PostDownVote]  DEFAULT ((0)) FOR [PostDownVote]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_PostDateCreated]  DEFAULT (getdate()) FOR [PostDateCreated]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF__POST__Hide__34C8D9D1]  DEFAULT ((1)) FOR [PostIsActive]
GO
ALTER TABLE [dbo].[Thread] ADD  CONSTRAINT [DF_Thread_ThreadDateCreated]  DEFAULT (getdate()) FOR [ThreadDateCreated]
GO
ALTER TABLE [dbo].[Thread] ADD  CONSTRAINT [DF_Thread_ThreadIsActive]  DEFAULT ((1)) FOR [ThreadIsActive]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_User_UserDateJoined]  DEFAULT (getdate()) FOR [UserDateJoined]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_UserIsActive]  DEFAULT ((1)) FOR [UserIsActive]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF__USERINFO__Admin__286302EC]  DEFAULT ((0)) FOR [UserIsAdmin]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_User] FOREIGN KEY([AccountUserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_User]
GO
ALTER TABLE [dbo].[BookMark]  WITH CHECK ADD  CONSTRAINT [FK_BookMark_Thread] FOREIGN KEY([ThreadID])
REFERENCES [dbo].[Thread] ([ThreadID])
GO
ALTER TABLE [dbo].[BookMark] CHECK CONSTRAINT [FK_BookMark_Thread]
GO
ALTER TABLE [dbo].[BookMark]  WITH CHECK ADD  CONSTRAINT [FK_BookMark_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[BookMark] CHECK CONSTRAINT [FK_BookMark_UserInfo]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Post1] FOREIGN KEY([PostReplyTo])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Post1]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Thread1] FOREIGN KEY([PostThreadID])
REFERENCES [dbo].[Thread] ([ThreadID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Thread1]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_User1] FOREIGN KEY([PostUserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_User1]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK__REPORT__PostId__37A5467C] FOREIGN KEY([ReportPostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK__REPORT__PostId__37A5467C]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [FK_Thread_Forum] FOREIGN KEY([ThreadForumID])
REFERENCES [dbo].[Forum] ([ForumID])
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [FK_Thread_Forum]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [FK_Thread_User] FOREIGN KEY([ThreadStartedBy])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [FK_Thread_User]
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 10/10/2021 16:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
    @pLoginName NVARCHAR(40), 
    @pPassword VARCHAR(40), 
    @pFirstName NVARCHAR(40) = NULL, 
    @pLastName NVARCHAR(40) = NULL,
	@pEmail VARCHAR(MAX) = NULL,
	@pImage VARCHAR(MAX) = NULL,
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRY
		BEGIN
			INSERT INTO UserInfo(UserLoginName, UserFirstName, UserLastName, UserEmailAddress, UserImageAvatar)
			VALUES(@pLoginName, @pFirstName, @pLastName, @pEmail, @pImage)
		END
		BEGIN
			INSERT INTO Account(AccountUserID, AccountPasswordHash)
			VALUES((SELECT UserID FROM UserInfo WHERE UserLoginName=@pLoginName),
					HASHBYTES('SHA2_512', @pPassword))
		END	
        SET @responseMessage='Success'
    END TRY
    BEGIN CATCH
        SET @responseMessage='Error' 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[getPost]    Script Date: 10/10/2021 16:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPost]
	@pThreadID INT
AS
BEGIN
	SELECT P.PostID, P.PostSubject, P.PostThreadID, P.PostDateCreated,
	P.PostIsActive ,P.PostUserID, U.UserLoginName,  P.PostReplyTo,
	Rep.PostSubject AS RepPostSubject, Rep.PostDateCreated AS RepPostDateCreated, 
	Rep.PostIsActive AS RepPostIsActive, Rep.PostUserID AS RepPostUserID,
	URep.UserLoginName AS URepLoginName
	FROM POST AS P 
		JOIN UserInfo AS U ON P.PostUserID=U.UserID
		JOIN Post AS Rep ON P.PostReplyTo=Rep.PostID
		JOIN UserInfo AS URep ON Rep.PostUserID=URep.UserID
	WHERE P.PostThreadID=@pThreadID AND P.PostIsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[verifyUser]    Script Date: 10/10/2021 16:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[verifyUser]
	@pLoginName nvarchar(40),
	@pPassword varchar(40)
AS
BEGIN
SELECT U.UserID, U.UserLoginName, U.UserFirstName, U.UserLastName
	,U.UserEmailAddress, U.UserImageAvatar, U.UserDateJoined, U.UserIsAdmin, Account.AccountPasswordHash
FROM UserInfo AS U INNER JOIN Account
	ON U.UserID=Account.AccountUserID
WHERE U.UserLoginName=@pLoginName AND Account.AccountPasswordHash=HASHBYTES('SHA2_512', @pPassword)
	AND U.UserIsActive = 1
END
GO
USE [master]
GO
