.u-section-1 {
    background-image: none;
    min-height: 789px;
}

.u-section-1 .u-group-1 {
    min-height: 399px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
}

.u-section-1 .u-container-layout-1 {
    padding: 50px 30px 30px;
}

.u-section-1 .u-text-1 {
    width: 828px;
    font-size: 3.75rem;
    margin: 0 auto;
}

.u-section-1 .u-blog-1 {
    width: 1140px;
    margin: -231px auto 60px;
}

.u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
    grid-gap: 22px 22px;
    min-height: 453px;
}

.u-section-1 .u-repeater-item-1 {
    background-image: none;
    box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-2 {
    padding: 0 0 30px;
}

.u-section-1 .u-image-1 {
    height: 285px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
    min-height: 68px;
    width: 257px;
    height: auto;
    margin: -31px auto 0;
}

.u-section-1 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.u-section-1 .u-text-2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.u-section-1 .u-text-3 {
    width: 257px;
    margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
    width: 257px;
    margin: 13px auto 0;
}

.u-section-1 .u-repeater-item-2 {
    box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-4 {
    padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
    height: 285px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
    min-height: 68px;
    width: 257px;
    background-size: auto;
    height: auto;
    margin: -31px auto 0;
}

.u-section-1 .u-container-layout-5 {
    padding-left: 15px;
    padding-right: 15px;
}

.u-section-1 .u-text-5 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.u-section-1 .u-text-6 {
    width: 257px;
    margin: 30px auto 0;
}

.u-section-1 .u-text-7 {
    width: 257px;
    margin: 13px auto 0;
}

.u-section-1 .u-repeater-item-3 {
    box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-6 {
    padding: 0 0 30px;
}

.u-section-1 .u-image-3 {
    height: 285px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-group-4 {
    min-height: 68px;
    width: 257px;
    background-size: auto;
    height: auto;
    margin: -31px auto 0;
}

.u-section-1 .u-container-layout-7 {
    padding-left: 15px;
    padding-right: 15px;
}

.u-section-1 .u-text-8 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.u-section-1 .u-text-9 {
    width: 257px;
    margin: 30px auto 0;
}

.u-section-1 .u-text-10 {
    width: 257px;
    margin: 13px auto 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
        background-position: 50% 50%;
    }

    .u-section-1 .u-blog-1 {
        width: 940px;
    }

    .u-section-1 .u-image-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-group-2 {
        height: auto;
    }

    .u-section-1 .u-text-2 {
        width: auto;
    }

    .u-section-1 .u-repeater-item-2 {
        background-size: auto;
    }

    .u-section-1 .u-image-2 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-group-3 {
        height: auto;
    }

    .u-section-1 .u-text-5 {
        width: auto;
    }

    .u-section-1 .u-repeater-item-3 {
        background-size: auto;
    }

    .u-section-1 .u-image-3 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-group-4 {
        height: auto;
    }

    .u-section-1 .u-text-8 {
        width: auto;
    }
}

@media (max-width: 991px) {
    .u-section-1 {
        min-height: 1226px;
    }

    .u-section-1 .u-group-1 {
        min-height: 374px;
    }

    .u-section-1 .u-text-1 {
        width: 660px;
    }

    .u-section-1 .u-blog-1 {
        width: 720px;
        margin-top: -143px;
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: calc(50% - 11px) calc(50% - 11px);
        min-height: 887px;
    }

    .u-section-1 .u-group-2 {
        width: 253px;
        margin-left: 46px;
    }

    .u-section-1 .u-group-3 {
        width: 253px;
        margin-left: 46px;
    }

    .u-section-1 .u-group-4 {
        width: 253px;
        margin-left: 46px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-container-layout-1 {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-1 {
        width: 520px;
    }

    .u-section-1 .u-blog-1 {
        width: 540px;
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-1 .u-group-2 {
        width: 448px;
        margin-left: auto;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-group-3 {
        width: 448px;
        margin-left: auto;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-group-4 {
        width: 448px;
        margin-left: auto;
    }

    .u-section-1 .u-container-layout-7 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        width: 320px;
        font-size: 3rem;
        margin-top: 21px;
    }

    .u-section-1 .u-blog-1 {
        width: 340px;
    }

    .u-section-1 .u-group-2 {
        width: 248px;
    }

    .u-section-1 .u-group-3 {
        width: 248px;
    }

    .u-section-1 .u-group-4 {
        width: 248px;
    }
}


/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/*.show {display:block;}*/


#output-cover-img {
    width: 200px;
    height: 130px;
}

.cover-create{
    margin-bottom: 20px;
    
}
.cover-openfile{
    display: block;
}

.cover-view{
    text-align: center;
}

