
body {
  background-image: url("../../images/82761229_p17_master1200.jpg");
}

/* .postzone {
  background-color: white;
  padding-top: 50px;
} */

.post-title {
    color: rgb(0, 155, 175);
}

.post-title h1::first-letter {
    text-transform: uppercase;
}

.post-title-description ul {
    list-style: none;
    display: flex;
    padding-left: 10px;
}

.post-title-description ul li {
    margin-right: 20px;
}

.post {
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px gray;
    background-color: white;
}

.post-user-cell {
  background-color: rgba(189, 226, 226, 0.472);
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.198);
}

.post-user {
  display: flex;
  padding: 10px;
}

.post-user-img {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.post-user-detail {
  margin: 0 10px;
}

.post-user-detail .post-user-name {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.post-user-detail .post-user-title {
  margin-top: 0;
  font-size: 13px;
}

.post-attribute {
  margin: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.445);
}

.post-attribute-time {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.856);
}

.post-attribute .post-attribute-list {
  display: flex;
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

.post-attribute .post-attribute-list li {
  margin-left: 10px;
}

.post-main {
  margin: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.479);
  
}

.post-main-cell {
    flex: 1 1 auto;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.post-block-reply {
  background-color: rgb(233, 233, 233);
  font-size: 13px;
  border-color: rgb(37, 199, 199);
  margin-top: 0;
  margin-bottom: 10px;
  width: 100%;
}

.post-reply-user {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(231, 248, 248);
}

.post-reply-content {
  margin-bottom: 10px;
}

.post-action {
  margin: 0 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.post-action-bar {
  float: right;
}

.post-action-bar>a{
    margin-left: 10px;
}

.post-footer {
    position: relative;
}

@media screen and (min-width: 752px) {
  .post {
    display: flex;
  }

  .post-user-cell {
    width: 150px;
    border-bottom: none;
    border-right: 1px solid rgba(128, 128, 128, 0.39);
  }

  .post-user {
    display: block;
  }

  .post-user-avatar {
      text-align: center;
  }

  .post-user-img {
      min-width: 100px;
      max-width: 100px;
      min-height: 100px;
      max-height: 100px;
  }

  .post-user-detail {
      text-align: center;
  }
}


.post-create {
  margin-bottom: 20px;
}

#blockreply {
  display: none;
}

.cancel-reply {
  text-align: right;
}

textarea.post-subject-textarea {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(225, 255, 255);
  font-size: 20px;
  padding: 10px;
} 

.post-create-submit {
  text-align: right;
}

