/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2021, 10:55:54 PM
    Author     : area1
*/
.user-card {
    box-shadow: 0 1px 3px gray;
    margin-top: 0;
    margin-bottom: 20px;
    transition: 100ms;
    background-color: white;
}

.user-card:hover{
     box-shadow: 0 5px 20px gray;
}

.user-link{
    color: black;
    padding: 0;
}

.user-link:hover {
    color: #2980B9;
}

.user-link:focus{
   color: #259bca;
}
.user-avatar img {
    width: 100px;
    height: 100px;
}

.user-loginname h2 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-report {
    max-width: 15em;
    border-left: 2px solid #CCC;
    border-right: 2px solid #CCC;
}


